{{ define "main" }}
{{ $name := .Data.Plural -}}
{{ $terms := .Data.Terms.ByCount -}}
{{ $length := len $terms -}}
<div class="container">
    <h1>{{ .Title }}</h1>
    <ul>
        {{ range $key, $value := $terms -}}
        <li>
            <a href="{{ $name | relLangURL }}/{{ $value.Term | urlize }}{{ if $.Site.Params.uglyURLs }}.html{{else}}/{{ end }}">
                {{ $value.Term | humanize }}</a>
            <span>({{ len $value.Pages }})</span>
        </li>
        {{ end -}}
    </ul>
</div>
{{ end }}
