<header>
    <h1>{{ .Title }}</h1>
    {{ with .Params.subtitle -}}
        <h4>{{ . }}</h4>
    {{ end -}}
    <p>
    <span><time datetime="{{ .Date.Format .Site.Params.dateFormat }}">{{ dateFormat (default "Mon, Jan 2, 2006" .Site.Params.dateFormat) .Date }}</time></span>
    {{ with .Params.categories -}}
        <span>&ndash; </span><span>
        {{- range . -}}
            <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/">{{ . }}</a>
        {{- end -}}
        </span>
    {{- end -}}
    {{ $featured := "Coup de coeur" }}
    {{- if in .Params.tags $featured -}}
        {{- with $.Site.GetPage (printf "/%s/%s" "tags" ($featured | urlize)) -}}
            <span> <a href="{{ .RelPermalink }}" class="heart">&hearts;</a></span>
        {{- end }}
    {{- end }}
    </p>
</header>