<header>
    <h1>{{ .Title }}</h1>
    {{ with .Params.subtitle -}}
        <h4>{{ . }}</h4>
    {{ end -}}
    <p>
    <span><time datetime="{{ .Date.Format .Site.Params.dateFormat }}">{{ dateFormat (default "Mon, Jan 2, 2006" .Site.Params.dateFormat) .Date }}</time></span>
    {{ with .Params.categories -}}
        <span>&ndash;</span>
        <span>
        {{ range . -}}
            <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/"> {{ . }}</a>
        {{ end -}}
        </span>
    {{- end -}}
    {{ with .Params.series -}}
    <span>&ndash;</span>
    <span>
    {{ range . -}}
        <a href="{{ "series" | relLangURL }}/{{ . | urlize }}/"> {{ . }}</a>
    {{ end -}}
    </span>
    {{- end }}
    </p>
</header>